body {
    background-color: rgb(88, 87, 87);
    align-items: center;
    justify-content: center;
    display: flex;
}

.gameContent {
    border: 2px solid black;;
    background-color: white;
    width: 504px;
    height: 250px;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}

.gameTile {
    border: 1px solid white;
    width: 10px;
    height: 10px;
}

.snakeBodyTile {
    background-color: green;
}

.snakeFood {
    background-color: red;
    border-radius: 40px;
}

.borderTile {
    background-color: brown;
}
